# User Database
USER_DATABASE_URL="postgresql://fluvio_user:fluvio_password@localhost:5432/fluvio_user_db?schema=public"

# Transaction Database
TRANSACTION_DATABASE_URL="postgresql://fluvio_txn:fluvio_password@localhost:5433/fluvio_transaction_db?schema=public"

# Redis
REDIS_URL="redis://localhost:6379"